<% content_for :page_title do %>
  <%= Spree.t(plural_resource_name(Spree::Article)) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_article), new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_vendor' } %>
<% end if can?(:create, Spree::Article) %>


<%if @articles.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <%@articles.each do |article|%>
        <tr>
          <td><%= article.title%></td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit article, no_text: true, class: 'edit' if can?(:edit, article) %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

<% else %>
  <div class="alert alert-info alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Article)) %>
  </div>
<% end %>

